body {background-color: black;
    color: white;
    }

img {border: solid 5px;
    border-color: white;
    width: 100%;
    }

div {text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 200px;
    }

h1 {text-transform: uppercase;
    }

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    }
